body{
margin: 0px;
height: 100%;
font-family: 'Montserrat', sans-serif;
color: white;
background-color:  #27273c;
}
p{
    font-weight: 100;
}

h1{
    font-size: 48px;
    font-weight: 400;
    display: block;
}

h3{
    font-size: 24px;
    font-weight: 100;
    line-height: 0%;
}

nav{
    height: 50px;
}

.navul{
    justify-content: center;
    text-align: center;
    gap: 100px;
    display: flex;
    flex-direction: row;
}

.sec.home{
    position: relative;
    height: 65vh;
}

.sec{
    height: 100vh;
}

ul li{
    text-decoration: none;
    list-style-type: none
}

span{
font-weight: 400;
}

.titulo{
    margin-top: 15%;
    text-align: center;
    display: block;
}

.inline{
    display:inline-flex;
}

.mechamo{
    margin-top: 48px;
    align-items: center;
    display: block;
}

.victor{
    display:inline;
    line-height: 0%;
    margin-left: 9px;
    margin-right: 9px;
    display: block;
}

.cliqueaqui{
    margin-top: 200px;
    font-size: 18px;
}

.fa-plus{
    
}

.fa-plus:hover{
color: rgb(253, 244, 157);

}

.apresentacao{
    display: inline-block;
    padding: 0 15%;
}

.profilepic{
    border-radius: 50%;
    width: 200px;
    display: block;
    margin: auto;
}

.textoapresentacao{
    display: block;
    text-align: center;
}

.titapr{
    margin-top: 0;
}